<h2>Routing Status: <%= @cargo.delivery.routing_status %></h2>
<h2>Transport Status: <%= @cargo.delivery.transport_status %></h2>
<hr>
<% if @cargo.delivery.is_misdirected %>
<h2>Cargo is misdirected and requires rerouting</h2>
<% else %>
<p>Estimated time of arrival in <%= @cargo.route_specification.destination %>: <%= @cargo.delivery.eta %></p>
<% end %>
<hr>
<% if @cargo.delivery.next_expected_activity %>
<p>Next expected activity is to <%= @cargo.delivery.next_expected_activity.handling_event_type %> in <%= @cargo.delivery.next_expected_activity.location.name %>
</p>
<% end %>

<hr>
<table>
  <tr>
    <th>Type</th>
    <th>Location</th>
    <th>Completion Date</th>
    <th>Tracking ID</th>
    <th></th>
  </tr>
  <% @handling_events_history.each do |handling_event| %>
  <tr>
    <td><%= handling_event.event_type %></td>
    <td><%= handling_event.location.name %></td>
    <td><%= handling_event.completion_date %></td>
    <td><%= handling_event.tracking_id %></td>
  </tr>
  <% end %>
</table>
