<h1>Change destination of cargo <%= @cargo.tracking_id.id %></h1>
<p>
Cargo is going from 
  <%= @cargo.route_specification.origin.name %> to 
  <%= @cargo.route_specification.destination.name %> with an arrival deadline of 
  <%= @cargo.route_specification.arrival_deadline.strftime("%m/%d/%Y") %><br>
</p>
<% if @has_matching_routes %>
<p>
<b>matching routes found...</b>
</p>
<% else %>
<p><i>No routes found that satisfy the route specification.
   Try setting an arrival deadline futher into the future (a few weeks at least).</i>
      </p>
<% end %>

<p>
<% if @cargo.delivery.routing_status == RoutingStatus::Routed %>
<hr>
<p>
<b>Itinerary</b><br>
</p>
<table>
  <tr>
    <th>Voyage</th>
    <th>From</th>
    <th>Load date</th>
    <th>To</th>
    <th>Unload date</th>
  </tr>
  <% @cargo.itinerary.legs.each do | leg | %>
  <tr>
    <td><%= leg.voyage %></td>
    <td><%= leg.load_location.name %></td>
    <td><%= leg.load_date.strftime("%m/%d/%Y") %></td>
    <td><%= leg.unload_location.name %></td>
    <td><%= leg.unload_date.strftime("%m/%d/%Y") %></td>
  </tr>
  <% end %>
</table>
<% end %>

</p>


